---
title: Welcome to LeFix
---

<div class="row">
		<div class="large-12 columns">
			<h2>Welcome to LeFix!</h2>
		</div>
	</div>

	<div class="row">
		<div class="large-8 columns">
			<h3>The Grid</h3>

			<!-- Grid Example -->
			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<p>Just testing a website using Middleman!</p>
					</div>
				</div>
			</div>
		</div>

	</div>
